@import "../lib/owlcarousel/owl.carousel";
@import "../lib/owlcarousel/owl.transitions";
@import "../lib/owlcarousel/owl.theme";

.owl-buttons{
  display: none;
}

.owl-theme .owl-controls {
  position: absolute;
  z-index: 9999;
  left: 10px;
  bottom: 5px;

  .owl-page span{
  	width: 15px;
  	height: 15px;
  }
}

.owl-carousel{
  position: relative;
}

.owl-theme .owl-controls .owl-page span {
  border:2px solid #fff;
  background: #333; //circle color
}


.banner {
    @extend .owl-carousel;
}

