// Responsivo
$mincelular: 'min-width: 767px';
$mindesktop: 'min-width: 992px';
$minlarge:   'min-width: 1200px';

$maxcelular: 'max-width: 767px';
$maxdesktop: 'max-width: 992px';
$maxlarge:   'max-width: 1200px';